div.table_system {
  margin-top: 16px;
}

div.table_system ul {
  grid-template-columns: 50px 0.5fr 0.5fr 60px 0.5fr 100px 100px 100px 70px;
}

div.table_system div.table_header ul {
  display: grid;
  column-gap: 20px;
  padding: 0 10px;
}

div.table_system div.table_header ul li {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: 100%;
  justify-content: center;
}

div.table_system div.table_header ul li:nth-child(2) {
  justify-content: left;
}

div.table_system div.table_content {
  display: grid;
  row-gap: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.table_system div.table_content div.table_item {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid var(--disabled-color);
  height: fit-content;
  overflow: hidden;
}

div.table_system div.table_content div.table_item > ul {
  display: grid;
  column-gap: 20px;
  align-items: center;
  padding: 8px 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  justify-items: center;
}

div.table_system div.table_content div.table_item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  display: none;
  height: 0;
}

div.table_system div.table_content div.table_item div.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

div.table_system ul li:nth-child(1) {
  justify-content: left !important;
}

div.table_system ul li:nth-child(1) {
  justify-self: left !important;
}

div.table_system ul li:nth-child(2) {
  justify-self: left !important;
}

div.table_system div.table_content div.table_item div.buttons button {
  background: transparent;
  border-radius: 50%;
  width: 30px;
  height: 26px;
  display: grid;
  place-items: center;
}

div.table_system div.table_content div.table_item div.buttons button.btn_edit {
  background-color: var(--gray-dark-color);
}

div.table_system
  div.table_content
  div.table_item
  div.buttons
  button.btn_delete {
  background-color: var(--error-color);
}
