div.table_system {
  margin-top: 16px;
}

div.table_system ul {
  grid-template-columns: 1fr 50px 1fr 100px 80px 1fr 100px 110px 70px;
}

div.table_system div.table_header ul {
  display: grid;
  column-gap: 15px;
  padding: 0 10px;
}

div.table_system div.table_header ul li {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: 100%;
}

div.table_system div.table_header ul li:nth-child(1) {
  padding-left: 30px;
}
div.table_system div.table_header ul li:nth-child(3) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
div.table_system div.table_header ul li:nth-child(7) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
div.table_system div.table_header ul li:nth-child(8),
div.table_system div.table_header ul li:nth-child(9) {
  display: flex;
  justify-content: center;
}

div.table_system div.table_content {
  display: grid;
  row-gap: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.system_list {
  display: flex;
  align-items: center;
}

div.table_system div.table_content div.table_item {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid var(--disabled-color);
  height: fit-content;
  overflow: hidden;
}

div.table_system div.table_content div.table_item input[type="checkbox"] {
  display: none;
}

div.table_system div.table_content div.table_item > label {
  cursor: pointer;
}

div.table_system div.table_content div.table_item > label:hover {
  background: var(--background-color);
}

div.table_system div.table_content div.table_item > label ul {
  display: grid;
  column-gap: 15px;
  align-items: center;
  padding: 8px 10px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
div.table_system div.table_content div.table_item > label ul li {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
div.table_system div.table_content div.table_item > label ul li:nth-child(1) {
  display: flex;
}

div.table_system div.table_content div.table_item strong {
  text-align: center;
}

div.table_system div.table_content div.table_item > label ul li.show strong {
  position: relative;
}

div.table_system div.table_content div.table_item > label ul li.show {
  display: flex;
  justify-content: center;
  gap: 5px;
}

div.table_system
  div.table_content
  div.table_item
  > label
  ul
  li.show
  strong::after {
  content: "";
  position: absolute;
  right: -25px;
  top: -3px;
  width: 20px;
  height: 20px;
  background-image: url("../../../../../../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
}

div.table_system div.table_content div.table_item > label ul li {
  width: 100%;
}

div.table_system div.table_content div.table_item > label ul li figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; 
  margin-right: 10px;
}

div.table_system div.table_content div.table_item > label ul li img {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

div.table_system div.table_content div.table_item label ul li img.time {
  filter: invert(9%) sepia(85%) saturate(6253%) hue-rotate(359deg)
    brightness(118%) contrast(113%);
}

div.table_system div.table_content div.table_item > label ul li span {
  display: block;
  font-weight: 700;
}

div.table_system div.table_content div.table_item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  display: none;
  height: 0;
}

div.table_system div.table_content div.table_item > div div {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

div.table_system div.table_content div.table_item > div div p {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  max-width: 100px;
}

div.table_system div.table_content div.table_item > div div p span {
  font-weight: 700;
}
.btn_edit {
  width: 12px;
  background: transparent;
}
.btn_edit_delete {
  display: flex;
}
#btn_delete {
  border: none;
  border-radius: 20px;
  height: 37px;
}

div.table_system div.table_content div.table_item > div div button {
  height: 30px;
  padding: 0 10px;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  width: 80px;
}

div.table_system
  div.table_content
  div.table_item
  > div
  div
  button:nth-child(2)
  img {
  filter: brightness(0) invert(1);
}

div.table_system
  div.table_content
  div.table_item
  input[type="checkbox"]:checked
  ~ label
  ul
  li.show
  strong::after {
  transform: rotate(-180deg);
}

div.table_system
  div.table_content
  div.table_item
  input[type="checkbox"]:checked
  ~ label
  ul
  li {
  -webkit-line-clamp: inherit;
}

.table_content ul li {
  display: flex;
  align-items: center;
}

div.buttons {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

div.buttons button.btn_edit {
  background-color: var(--gray-dark-color);
}

div.buttons img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}
div.buttons button {
  background: transparent;
  border-radius: 50%;
  width: 30px;
  height: 26px;
  display: grid;
  place-items: center;
}
div.buttons button:hover {
  background: var(--white-color);
}

div.buttons button:nth-child(2) {
  background: var(--error-color);
}

@media screen and (max-width: 1500px) {
  div.table_system ul {
    grid-template-columns: 1fr 50px 1fr 80px 80px 1fr 100px 90px 50px;
  }
  div.table_system div.table_content div.table_item > label ul li.show {
    display: flex;
    justify-content: start;
    gap: 5px;
  }
}

@media screen and (max-width: 1400px) {
  div.table_system ul {
    grid-template-columns: 1fr 50px 1fr 80px 50px 1fr 100px 90px 70px;
  }
}
