section.list_system {
  padding: 32px;
}

section.list_system > aside {
  display: none;
  width: 100%;
  flex-direction: column;
  row-gap: 26px;
  text-align: center;
  width: 480px;
  height: 480px;
  margin: 120px auto;
  background-image: url("../../../../../../assets/ilustration.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-items: center;
  justify-content: center;
}

section.list_system > aside button {
  width: 210px;
  height: 40px;
  border-radius: 5px;
}

section.list_system > aside:only-child {
  display: flex;
}

section.list_system div.system_actions,
section.list_system div.system_actions div.list_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

section.list_system div.system_actions button.search_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  background: none;
  right: 10px;
  pointer-events: none;
}

section.list_system div.system_actions button.search_icon.active {
  pointer-events: all;
}

section.list_system div.system_actions p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  max-width: 230px;
}

section.list_system div.system_actions button {
  height: 30px;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap;
  text-wrap: nowrap;
  padding: 0 10px;
  line-height: 12px;
}

section.list_system div.system_actions button img {
  height: 18px;
  width: 18px;
  object-fit: contain;
}

section.list_system div.system_actions input {
  height: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  padding-left: 10px;
  padding-right: 35px;
  min-width: 210px;
}

section.list_system div.input_search {
  display: flex;
  position: relative;
  column-gap: 19px;
  align-items: center;
}

section.list_system div.input_search p {
  width: fit-content;
  white-space: nowrap;
  text-wrap: nowrap;
}

section.list_system div.input_search input {
  width: 370px;
}

@media screen and (max-width: 1450px) {
  section.list_system div.system_actions input {
    color: transparent;
    background-position: 50%;
    cursor: pointer;
  }

  section.list_system div.system_actions button.search_icon {
    width: 16px;
    height: 16px;
    right: 5px;
  }

  section.list_system div.system_actions input:focus {
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
    color: var(--text-color);
  }

  section.list_system div.system_actions input:focus::placeholder {
    color: var(--disabled-color);
  }

  section.list_system
    div.system_actions
    input:focus
    ~ button:not(.search_icon) {
    display: none;
  }

  section.list_system > aside {
    height: 300px;
    margin-bottom: 0;
    margin-top: 100px;
  }
}
